@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette((500: #3498db));
$accent: mat.define-palette((500: #e74c3c));

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.all-component-themes($theme);

